﻿
/************ ETIQUETAS HTML ************/

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: verdana;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('../Imagen/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

input[type="text"] {
    text-transform: uppercase;
}


/************ CLASES ************/

.flex_column, .flex_row {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

    .flex_column {
        flex-direction: column;
    }

    .flex_row {
        flex-direction: row;
    }

.div_bloquear {
    display: none;
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
    color: black;
    z-index: 999999;
    opacity: 0.8;
}

.label_form {
    width: 120px;
    color: gray;
    font-family: Verdana;
}

.cbo_form {
    height: 40px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 16px;
    padding: 5px;
    margin-top: 5px;
}

.input_form {
    height: 40px;
    width: -webkit-fill-available;
    border: 1px solid #e6e6e6;
    border-radius: 16px;
    margin-top: 5px;
    padding: 3px 8px;
    background-color: #e6e6e6;
}

.btn_form {
    background-color: #03a9f4;
    color: #fff;
    padding: 6px 12px;
    margin-bottom: 0PX;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    display: initial;
    width: 100%;
    height: 40px;
    border-radius: 16px;
}

.contenedor {
    width: 350px;
    height: 350px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 2%;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(29, 30, 31, 0.28);
    -moz-box-shadow: 0px 2px 9px 0px rgba(29, 30, 31,0.28);
    box-shadow: 0px 2px 9px 0px rgba(29, 30, 31,0.28);
    display: none;
}

.title_form{
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-align: center;
}