﻿
/************ ETIQUETAS HTML ************/

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    
}

input[type="text"] {
    text-transform: uppercase;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 50px;
    background-color: #b27e57;
    color: white;
    margin: 5px;
    border-radius: 16px;
}

p, ul {
    margin: 0px;
}


/************ MASTER PAGE ************/

.barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 15px 0px 15px;
    border-bottom: 1px solid #b27e57;
}

.item_barra {
    background-color: transparent;
    color: #b27e57;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    width: 50px;
    text-align: center;
    display: inline-block;
    webkit-box-sizing: none;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

    .item_barra:hover {
        color: white;
        background-color: #b27e57;
    }

    .item_barra ul {
        display: none;
        position: absolute;
        left: 0px;
        top: 42px;
        margin: 0px;
        padding: 0px;
        z-index: 1;
    }

        .item_barra ul li {
            list-style: none;
            border: 1px solid black;
            width: 300px;
            text-align: left;
            padding: 7px 10px;
            border: 1px solid #b27e57;
            background-color: white;
        }

            .item_barra ul li:hover {
                color: white;
                background-color: #b27e57;
            }

            .item_barra ul li a {
                text-decoration: none;
                font-weight: normal;
                color: black;
            }

.item_barra_menu {
    position: relative;
    display: inline-block;
}

.item_barra_menu:hover ul {
    display: block;
}

.contenedor {
    padding: 20px;
}

/************ PAGINAS EN GENERAL ************/

.div_bloquear {
    display: none;
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
    color: black;
    z-index: 999999;
    opacity: 0.8;
}

.div_bloque {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px;
}

    .div_bloque .title_bloque {
        margin: 0px;
        font-weight: bold;
        position: relative;
        top: -25px;
        color: grey;
        background: white;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
        display: initial;
    }

    .div_bloque .label_bloque {
        width: 120px;
        color: grey;
        height: 40px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .div_bloque .label_bloque_mediun {
        width: 300px;
        color: grey;
        height: 40px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .div_bloque .label_bloque_normal {
        width: 400px;
        color: grey;
        height: 40px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .div_bloque .label_bloque_big {
        width: 600px;
        color: grey;
        height: 40px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .div_bloque .cbo_bloque {
        height: 40px;
        width: 300px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .cbo_bloque_small {
        height: 40px;
        width: 100px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .cbo_bloque_mediun {
        height: 40px;
        width: 200px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .input_bloque {
        height: 40px;
        width: 400px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .input_bloque_big {
        height: 40px;
        width: 600px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .input_bloque_small {
        height: 40px;
        width: 100px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .input_bloque_mediun {
        height: 40px;
        width: 200px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .radio_bloque {
        margin-right: 10px;
        margin-left: 10px;
        font-weight: normal;
    }

        .div_bloque .radio_bloque input {
            margin-right: 5px;
        }

    .div_bloque .btn_bloque {
        background-color: #03a9f4;
        color: #fff;
        padding: 6px 12px;
        margin-bottom: 0PX;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border-radius: 4px;
        font-family: inherit;
        border: 1px solid transparent;
        display: initial;
    }

/******* DATATABLE JQUERY *******/

.table {
    width: 100%;
}

    .table th {
        text-align: center;
        background-color: #03a9f4;
    }

.dataTables_filter {
    margin-bottom: 10px;
}

    .dataTables_filter label {
        font-weight: normal;
        height: 40px;
    }

    .dataTables_filter input {
        height: 40px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
    }

.div_tabla{
    padding: 15px;
}

    .div_tabla .btn_tabla {
        background-color: #03a9f4;
        color: #fff;
        padding: 6px 12px;
        margin-bottom: 0PX;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border-radius: 4px;
        font-family: inherit;
        border: 1px solid transparent;
        display: initial;
    }