﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Web_Master.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="WebPlataforma.Home" %>
    
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

</asp:Content>
